#body-index{
    background-image: url(./645579-health-care-wallpaper.jpg);
    background-size: cover;
 
}
#body-liste-patients{
    background-image: url(./645546-hospital-wallpaper-top-free-hospital-background.jpg);
    background-size: cover;
}

#body-ajout-patients{
    background-image: url(./645623-medical-background-free-image-background-for-hospital-website-1920x1080-wallpaper-teahubio.png);
    background-size: cover;
}
#body-profil-patients{
    background-image: url(./645556-free-download-hospital-wallpaper-in-collection-page-1-4400x2452-for-your-desktop-mobile-tablet-explore-hospital-wallpaper-hospital-wallpaper.jpg);
    background-size: cover;
}